.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* ANIMATION */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__black {
  background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 30px;
  width: 150px;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}
.nav__avatar {
  position: fixed;
  left: 92%;
  width: 40px;
  object-fit: contain;
  margin-top: 10px;
}

.nav__input {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 1rem;
  font-size: 1.5rem;
}
